<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <title>insert page</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    
  <a class="navbar-brand" href="/Home/">SMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert-student/">Insert student</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/display-student/">display student</a>
      </li>
      
    </ul>
    
  </div>
  <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </li>
      </ul>
</nav>
<br> <br>
<div class="p-3 mb-2 bg-secondary text-dark">

<div class="jumbotron" style='text-align:center;margin-left:300px;margin-right:300px; padding:30px '>
  <h1><i>Insert student information</i></h1> <br>

  <form action="/insert-student/" method="post"> {% csrf_token %}
    Student First_Name:<input type='text' name='first_name' placeholder='Enter student first_name' required><br><br>
    Student last_Name :<input type='text' name='last_name' placeholder='Enter student last_name' required><br><br>
    Student email:   <input type='text' name='email' placeholder='Enter student email' required><br><br>
    Student phone:<input type='number' name='phone' placeholder='Enter student phone' required><br><br>

    <button type='submit' class="btn btn-success">Insert student</button>
  </form>

  {% for message in messages %}           
  <h5 style="color:green;">{{ message }}</h5>
  {% endfor %}



</div>
    </div>
</body>
</html>
